.card {
  margin: 0px 18px;
  height: 350px !important;
  width: 336px !important;
  border: none !important;
}

.card:hover {
  box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;
}
